<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>JukeBoxr</title>
    <link href="static/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
     <script src="/static/jquery-2.0.3.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src = "http://code.jquery.com/jquery.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="/static/choice.js"></script>

    <style>.content {padding-top: 80px;}</style>
  </head>

  <body>


    {%- block topbar -%}
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <h1>
              <a href="/" class="brand">JukeBoxr</a>
          </h1>
        </div>
      </div>
    </div>
    {%- endblock -%}

    <div class="container">
      <div class="content">
        {% block page_header %}{% endblock %}
        {% block content %}{% endblock %}
      </div>
    </div>
    {% block js_footer %}{% endblock %}
  </body>
</html>